* {
    padding: 0;
	margin:  0;
}
#menu li { 
    color: #2f4f23;
    display: inline-block;
    margin-left:-5px;
    width:120px;
    height: 40px;
    line-height: 40px;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}
#menu ul {
    background-color: olivedrab;
    text-align: center;
}
#menu a {
    text-decoration: none;
    color:white;
    display: block;
}
#menu a:hover{
    color:red;
    background: #F1F1F1;
}
img {
    display: inline-block;
}
body {
    background-color: #7a7a52;
}
.container{
	margin:20px;
}
h1 {
	font-family:Arial;
	text-align:center;
	color:red;
}
#bangtinh table, th, td {
  border:1px solid black;  /*tao bang voi net lien*/
  text-align:center;
  border-collapse:collapse;  /* gop khung */
}
footer {
	background-color:#009900;
	width:100%;
	height:auto;
	display:flex; /* bo cuc linh hoat */
}
.aboutme {
	float:left;
	padding:5px;
	margin:5px;
}
.diachi {
	float:right;
	padding:5px;
	margin:5px;
}
.thongtin {
	list-style-type:none;
}
.social {
     display: flex;
	 list-style-type:none;
}
